/* some style */

.error {
  background: #ee4c4c;
}

.column {
  display: flex;
  margin-right: 1em;
  flex-grow: 1;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.crud--input {
  flex-grow: 1;
  margin-left: 1em;
}

.crud--label {
  margin-bottom: 1em;
}

.crud--button {
  flex-grow: 0.3;
  margin-top: 1em;
  margin-right: 1em;
}

.circle-drawer--wrapper {
  position: relative;
  max-width: 400px;
  margin: auto;
  text-align: left;
}

.circle-drawer--canvas {
  position: relative;
  width: 100%;
  height: 400px;
}

.circle-drawer--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  /* background: transparent; */
  background-color: rgba(0,0,0,0.2);
}

.circle-drawer--dialog {
  position: fixed;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  z-index: 100;
  background-color: white;
  border: 1px solid #aaa;
  text-align: center;
}

.circle-drawer--buttons {
  margin: auto;
  width: max-content;
}

svg {
  background: white;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

circle:hover {
  fill: #eee;
}